# Ignore credentials file
credentials.json

# Ignore Python bytecode files
*.pyc

# Ignore IDE-specific folders
.vscode/
.idea/

# Ignore temporary files created by the OS
Thumbs.db
.DS_Store

# Ignore sensitive or secret data folders
secret_data/
.env
